.start-back-image {
  background-image: url('../images/start-background.jpg');
}
.lfz-card-back {
  background-image: url('../images/lfz-card.jpg');
}
.lfz-back-image {
  background-image: url('../images/lfz-background.jpg');
}
.js-logo {
  background-image: url('../images/js-logo.png');
}
.html-logo {
  background-image: url('../images/html-logo.png');
}
.css-logo {
  background-image: url('../images/css-logo.png');
}
.git-logo {
  background-image: url('../images/gitHub-logo.png');
}
.docker-logo {
  background-image: url('../images/docker-logo.jpg');
}
.node-logo {
  background-image: url('../images/node-logo.png');
}
.php-logo {
  background-image: url('../images/php-logo.jpeg');
}
.sql-logo {
  background-image: url('../images/mysql-logo.jpg');
}
.react-logo {
  background-image: url('../images/react-logo.png');
}
.zelda-card-back {
  background-image: url('../images/Zelda\ Card\ Back.png');
}
.zelda-back-image {
  background-image: url('../images/Zelda\ Background.jpg');
}
.zelda-ganondorf-card {
  background-image: url('../images/Ganondorf\ Card.png');
}
.zelda-korok-card {
  background-image: url('../images/Korok\ Card.png');
}
.zelda-link-card {
  background-image: url('../images/Link\ Card.png');
}
.zelda-midna-card {
  background-image: url('../images/Midna\ Card.png');
}
.zelda-moon-card {
  background-image: url('../images/Moon\ Card.png');
}
.zelda-princess-card {
  background-image: url('../images/Princess\ Card.png');
}
.zelda-sheik-card {
  background-image: url('../images/Sheik\ Card.png');
}
.zelda-tingle-card {
  background-image: url('../images/Tingle\ Card.png');
}
.zelda-zant-card {
  background-image: url('../images/Zant\ Card.png');
}
.mario-card-back {
  background-image: url('../images/Mario_Card_Back.png');
}
.mario-back-image {
  background-image: url('../images/Mario_Background.jpg');
}
.mario-bowser-card{
  background-image: url('../images/Bowser_Card.png');
}
.mario-daisy-card{
  background-image: url('../images/Daisy_Card.png');
}
.mario-goomba-card{
  background-image: url('../images/Goomba_Card.png');
}
.mario-luigi-card{
  background-image: url('../images/Luigi_Card.png');
}
.mario-mario-card{
  background-image: url('../images/Mario_Card.png');
}
.mario-peach-card{
  background-image: url('../images/Peach_Card.png');
}
.mario-toad-card{
  background-image: url('../images/Toad_Card.png');
}
.mario-wario-card{
  background-image: url('../images/Wario_Card.png');
}
.mario-yoshi-card{
  background-image: url('../images/Yoshi_Card.png');
}
.metroid-card-back {
  background-image: url('../images/Metroid\ Card\ Back.png');
}
.metroid-back-image {
  background-image: url('../images/Metroid\ Background.png');
}
.metroid-darksamus-card{
  background-image: url('../images/DarkSamus\ Card.png');
}
.metroid-kraid-card{
  background-image: url('../images/Kraid\ Card.png');
}
.metroid-metroid-card{
  background-image: url('../images/Metroid\ Card.jpg');
}
.metroid-metroidprime-card{
  background-image: url('../images/MetroidPrime\ Card.png');
}
.metroid-motherbrain-card{
  background-image: url('../images/MotherBrain\ Card.png');
}
.metroid-ridley-card{
  background-image: url('../images/Ridley\ Card.jpg');
}
.metroid-samus-card{
  background-image: url('../images/Samus\ Card.jpg');
}
.metroid-samusship-card{
  background-image: url('../images/SamusShip\ Card.png');
}
.metroid-spacepirate-card{
  background-image: url('../images/SpacePirate\ Card.png');
}
